@charset "UTF-8";
/* CSS Document */

body {
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    /*padding: 8px 6px 8px 6px;*/
    font-family: 'Helvetica Neue' ;
    }

header {
    padding: 0 0 0 5%;
    font-size: 12px;
	font-style: italic;
    line-height: 20px;
    position: fixed;
}

h1 {
    padding: 0 0 0 5%;
    font-size: 20px;
    line-height: 28px;
}

h2 {
    padding: 0 0 0 0%;
    font-size: 14px;
    line-height: 18px;
}

h3 {
    padding: 0 0 0 2%;
    font-size: 10px;

}

h4 {
    padding: 0 0 0 0;
    font-size: 12px;
	font-style:	oblique;	margin-bottom:	4px;
	
}
h5 {
    padding: 0 0 0 0;
    font-size: 8px;
	font-style:	bold;	margin-bottom:	4px;
	
}


#toTop {
    z-index: 100px;
    position: fixed;
    display: block;
    right: 5%;
    bottom: 10%;
}

a:link {
    text-decoration: none;
    color: black;  
}

a:visited {
    text-decoration: none;
    color: black;  
}

a:hover { 
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black; 
} 

a:active { 
    text-decoration: none;
    border-bottom: 0;
    color: black; 
}

::selection {
background-color: black;
color: black;
}

p {
    margin-top: 20px; 
    margin-left: 20px;
    margin-right: 20px;
}

/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}

ul, ol {
    margin-top: 20px;
    padding-left: 20px;
}

li {
    list-style: none;
    margin-bottom: 2px;
}


nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 10%;
    padding-left: 4%;
    width: 200px;
    /*background: blue;*/
    color: black;
    font-size: 10px;
    line-height: 12px;
    position:fixed;
}

article {
    display: inline-block;
    top: 40%;
    left: 50%;
    width: 50%;
    color: black;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-top: 12%;
    /*background: red;*/
}

div.image {
    width: 70%;
    height: auto;
    padding-left: 20%;
}

div.caption {
    font-size: 10px;
    left: 5%;
}

@media screen and (max-width: 36em) {
    
    header {
    left:5%;
    font-size: 12px;

}

   nav {
    position: absolute
    top: 100px;
    left: 3%;
    width: 50%;
    
} 

    article {
    position: absolute;
    top: 20px;
    left: 1%;
    width: 90%;
}

    div.caption {
    position: relative;
    font-size: 10px;
    line-height: 14px;
    width: 10%;
    height: auto;
    
}

}

@media print {
    
    header {
        font-size: 10px;
    }
    nav {
        font-size:10px;
        line-height: 14px;

    }
    article {
        font-size:10px;
        line-height: 12px;
        left: 4%;
    }
    
    .info-box {
            display: none;
    }

    #top {
            display:none;
    }
}


@media screen {

    .info-box {
        margin: 30px auto;
        font-size: 12px;
          
      }

    .info-box #color-picker {
        border: none;
        display: inline;
      }

    .info-box #color-picker div {
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
      }

    .info-box ul li {
        margin-top: 8px;
    }
}

  
